.wraper{
  margin: auto;
  max-width: 1000px;
}

.wraper:has(.dark) #root{
  background-color: var(--back_color1);
}




#root{  
  min-height: 100vh;
}
#root:is(.dark){  
  background-color: var(--back_color1);
}